{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ title }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control", type="text") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", type="text") }}<br>
        {% for error in form.content.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(class="btn btn-primary", type="submit") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}